@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Roboto", sans-serif;   
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: calc(100% - 200px);
  transition: all .3s;
}

.search__background {
  background-color: #fff;
  border-bottom: 1px solid #e1e7ea;
  height: 80px;
  z-index: 1;
}

.search__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  max-width: 1070px;
  margin: 0 auto;
  height: 100%;
}

.sidebar__top {
  flex: 1 1;
  margin-top: 40px;
}

.activeTab {
  background-color: #2bd97c;
}
.sidebarLinkLine {
  width: 5px;
  height: 100%;
  background-color: transparent;
  margin-right: 16px;
}

.sidebarIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.sidebarLinkNotAllowed {
  cursor: not-allowed;
}

.sidebarLinkWrapper {
  display: flex;
  align-items: center;
  height: 56px;
  color: #032b41;
  margin-bottom: 8px;
  cursor: pointer;
}

.sidebarLinkWrapper:last-child {
  margin-bottom: 0;
}

.sidebar__overlay__hidden {
  opacity: 0;
  pointer-events: none;
}
.sidebar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a4649;
  transition: opacity .4s ease 0s;
  z-index: 10;
  opacity: .65;
  pointer-events: auto;
}

.sidebar {
  background-color: #f7faf9;
  width: 200px;
  min-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  transition: all .3s;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-top: 16px;
  max-width: 160px;
  margin: 0 auto;
}

.search__background {
  background-color: #fff;
  border-bottom: 1px solid #e1e7ea;
  height: 80px;
  z-index: 1;
}

.search__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  max-width: 1070px;
  margin: 0 auto;
  height: 100%;
}

.search__content {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 340px;
  width: 100%;
}

.search, .search__input--wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.search__input--wrapper {
  position: relative;
  gap: 8px;
}

.sidebarToggleBtn {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

