.appHeader {
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #e1e7ea;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 50;
}

.headerContent {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.searchWrapper {
  width: 100%;
  max-width: 300px; 
  position: relative;
}
