.audioPlayerWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #042330; 
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.imageWrapper {
  width: 56;
  height: 56;
  min-width: 56; 
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}


.audioPlayerContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.bookInfo {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 18x;
  font-weight: 600;
  margin-bottom: 2px;
}

.author {
  font-size: 14px;
  color: #bac8ce;
}

.controls {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.rightSection {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.controlBtn, .mainToggle {

  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.mainToggle:hover {
  transform: scale(1.1);
}

.progressBarContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 250px;
}

.closeBtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.closeBtn:hover {
  opacity: 1;
}

.rangeInput {
  flex: 1;
  cursor: pointer;
  accent-color: #2bd880; 
}

.time {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  min-width: 40px;
}
