.bookCard {
  display: flex;
  flex-direction: column;
  padding: 12px;
  flex: 0 0 calc(20% - 13px);
  min-width: calc(20% - 13px);
  min-width: 200px;
  text-decoration: none;
  transition: background-color 0.2s ease;
  border-radius: 4px;
}

.card {
  position: relative;
  width: 172px;
  display: flex;
  flex-direction: column;
}

.addBtn {
  position: absolute;
  top: 140px;
  right: 12px;
  width: 32px;
  height: 32px;
  background-color: white;
  border: 1px solid #e1e7ea;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
  transition: transform 0.2s ease;
  z-index: 5;
}

.addBtnhover {
  transform: scale(1.1);
  background-color: #f1f6f4;
}

.bookCard:hover {
  background-color: #f1f6f4;
}

.bookImageWrapper {
  width: 172px;
  height: 172px;
  margin-bottom: 8px;
}

.bookImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.bookTitle {
  font-size: 16px;
  font-weight: 700;
  color: #032b41;
  margin-top: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 44px;
  line-height: 22px;
}

.bookAuthor {
  font-size: 14px;
  color: #6b757b;
  margin-top: 4px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookSubtitle {
  font-size: 14px;
  color: #3a4649;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bookStats {
  display: flex;
  gap: 12px;
  align-items: center;
}

.bookStat {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #6b757b;
}

.bookStat span {
  font-weight: 500;
}

.premiumPill {
  position: absolute;
  top: 0px;
  right: 8px;
  background-color: #032b41;
  color: gold;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  z-index: 10;

}