.forYouTitle {
  font-size: 22px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 16px;
}

.selectedBookCard {
  background-color: #fbefd6;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  max-width: 650px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1px 2fr;
  align-items: center;
  gap: 24px;
}

.leftContent {
  font-size: 14px;
  color: #032b41;
  line-height: 1.4;
}

.divider {
  width: 1px;
  height: 100px;
  background-color: #bac1c7;
}

.rightContent {
  display: grid;
  grid-template-columns: 140px 1 fr;
  align-items: center;
  gap: 16px;
  flex: 1;
  min-width: 0;
}

.content {
  flex: 1;
}


.imageWrapper {
  height: 140px;
  width: 140px;
  min-width: 140px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}



.imageWrapper {
  flex-shrink: 0; 
}


.infoColumn {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #032b41;
}

.author {
  font-size: 14px;
  color: #6d7881;
  margin-bottom: 8px;
}

.controlsRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.playContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.playIcon {
  color: #032b41;
  transition: transform 0.2s;
}

.playIcon:hover {
  transform: scale(1.1);
}

.playText {
  font-size: 14px;
  font-weight: 700;
  color: #032b41;
}

.duration {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #032b41;
  font-weight: 500;
}


@media (max-width: 768px) {
  .selectedBookSubTitle {
    width: 100%;
  }
}
