.forYouTitle {
  font-size: 22px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 16px;
}

.selectedBook {
  background-color: #fbefd6;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
  border-radius: 4px;
}

.selectedBookSubTitle {
  font-size: 16px;
  color: #032b41;
  width: 50%;
}

.selectedBookLine {
  width: 1px;
  height: 100%;
  background-color: #bac8ce;
  margin: 0 24px;
}

.selectedBookContent {
  display: flex;
  gap: 24px;
}

.bookImageWrapper {
  height: 140px;
  width: 140px;
  min-width: 140px;
}

.bookImage {
  width: 100%;
  height: 100%;
}

.selectedBookText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.selectedBookTitle {
  font-size: 18px;
  font-weight: 700;
  color: #032b41;
}

.selectedBookAuthor {
  font-size: 16px;
  font-weight: 500;
  color: #3a4649;
}

.selectedBookDurationWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selectedBookIcon {
  display: flex;
  align-items: center;
  color: #032b41;
}

.selectedBookDuration {
  font-size: 14px;
  font-weight: 500;
  color: #032b41;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .selectedBookSubTitle {
    width: 100%;
  }
}
