.skeleton {
  background-color: #e2e8f0; 
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #f0f2f5 0%,
    #e0e2e8 50%,
    #f0f2f5 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease-in-out; 
}


@keyframes shimmer {
   0% {
    background-position: -200% 0; 
  }
  100% {
    background-position: 200% 0;  
  }
}