
.wrapper {
  display: flex;
  width: 100%;
  transition: all .3s ease;
  overflow: hidden; 
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: center; 
  width: 100%;
  min-height: 100vh;
  padding-left: 40px; 
  padding-right: 40px;
}


.innerContent {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: space-between; 
}
.container {
  width: 100%;
  max-width: 1070px; 
  margin: 0;         
  padding: 40px 0;
}


.statsRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  padding: 24px 0;
  border-top: 1px solid #e1e7ea;
  border-bottom: 1px solid #e1e7ea;
  margin-bottom: 32px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 18px;
  font-weight: 500;
  color: #032b21;
}
.premiumText {
  color: #032b21;
  font-weight: 400;
  font-size: 24px;
}

.libraryToggle {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  margin-bottom: 32px;
  transition: opacity 0.2s;
  width: fit-content;
}

.libraryToggle:hover {
  opacity: 0.7;
}

.libraryIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #032b21;
  color: #116be9;
}

.libraryText {
  font-size: 18px;
  font-weight: 600;
  color: #116be9;

}

.buttonGroup {
  display: flex;
  gap: 18px;
  margin-bottom: 40px;
}

.readBtn, .listenBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: #032b21;
   color: white;
}

.imageContainer {
  width: 300px;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
}


.imageContainer img {
  object-fit: contain; 
  width: 100% !important;
  height: auto !important;
}

.subTitle {
  font-size: 20px;
  font-weight: 300;
  color: #032b21;
  margin-top: 8px;
}

.stat svg {
  font-size: 24px;
}

.title {
  font-size: 38px;
  font-weight: 700;
  color: #032b21;
}


.titleBox {
  flex: 1;
  min-width: 0; 
  line-height: 1.4; 
  overflow: hidden;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.tag {
  background-color: #f1f6f4;
  color: #032b21;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 700;
  color: #032b21;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .container {
    margin: 40px auto; 
    max-width: 90%;
  }

  .innerContent {
    flex-direction: column-reverse; 
    align-items: center;
    gap: 32px;
  }
  
  .titleBox {
    align-items: center;
    text-align: center;
  }
  
  .buttonGroup {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px; 
  }
  
  .imageContainer {
    width: 200px; 
  }
}